@{
    ViewData["Title"] = "MissionPage";
}

<head>
        <nav class="navbar navbar-expand-lg navbar-light topbar border-bottom mb-3">
            <div class="container-fluid ">
              
              <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> -->
              <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
                <div class="container" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 leftSidebar">
                  <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#">Stories</a>
                  </li>
                 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Policy
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Policy 1</a></li>
                      <li><a class="dropdown-item" href="#">Policy 2</a></li>
                      <li><a class="dropdown-item" href="#">Policy 3</a></li>
                    </ul>
                  </li> 
                </ul>
                </div>

                <div class="profile">
                    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <img src="~/Images/user-img.png" alt="user-img">
                        <li class="nav-item dropdown profileName">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Evan Donohue
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="#">My Profile</a></li>
                              <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                              <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li> 
                    </ul>
                    
                </div>
    
              
            </div>
          </nav>
    </head>

    <!-- <div class="searchAndFilter">
        <div class="search">
            <img src="search.png" alt="search" srcset="">

        </div>
        <div class="filters">

        </div>
    </div> -->

    <div class="px-3 border-bottom mb-3">
        
          <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
            <!-- <img src="search.png" alt="search" srcset="">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> -->

            <img src="~/Images/search.png" alt="search-icon" class="search-icon">
            <input type="text" class="form-control search-control search" id="exampleInputEmail1" placeholder="Search Mission....">

          </form>
  
          <div class=" filterContent">
            
            <span class="vertical-line"></span>

            <select class="filter country" aria-label="Default select example">
                <option selected>Country</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <span class="vertical-line"></span>

            <select class="filter city" aria-label="Default select example">
                <option selected>City</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <span class="vertical-line"></span>

            <select class="filter themes" aria-label="Default select example">
                <option selected>Themes</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <span class="vertical-line"></span>

            <select class="filter skills" aria-label="Default select example">
                <option selected>Skills</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
          
            <span class="vertical-line"></span>

        </div>
        
      </div>

